@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-45deg);
    }
    20% {
      transform: rotateZ(40deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  @keyframes opacity {
    
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }  
    
    50% {
        opacity: 0.5;
    } 
    
    75% {
        opacity: 0.75;
    }    
    
    100% {
        opacity: 1;
    }
}