//Dropdowns

.dropdown-content{
    position: absolute;
    background-color: $bg-white;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 120px;
    transform: rotateX(90deg);
    transition: all 0.5s ease;
    transform-origin: top;
    z-index: 2;
    &.active{
        transform: rotateX(0);
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        button{
            border: none;
            background: none;
            text-transform: capitalize;
        }
    }
}


select{
    option{
        &:first-child{
            text-transform: capitalize;
        }
    }
}

button{
    border: none;
    background: none;
}

.yellow{
    color: $bg-yellow;
}


.btn-style{
    background: $theme-color;
    border-radius: 50px;
    padding: 10px 20px;
    text-transform: uppercase;
    color: $white;
    margin-block: 20px;
}

.btn-style-3{
    background: $theme-color;
    padding: 15px 50px;
    text-transform: uppercase;
    color: $white;
    margin-block: 20px;
}


.hover-style{
    font-size: 20px;
    &:hover{
        background: $theme-color !important;
        color: $white;
    }
}

.hover-style-2{
    font-size: 20px;
    &:hover{
        background: $black !important;
        color: $white;
    }
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    &.left{
        justify-content: left;
    }
    &.center{
        justify-content: center;
    }
}

.checkbox,.radio{
    width: 43px;
    height: 20px;
}

label{
    text-transform: capitalize;
    span{
        margin-left: 20px;
        cursor: pointer;
    }
}

.btn-hover-2{
    background: black;
    color: white;
}


.animated-btn{
    
    a{
        font-size: 12px;
        line-height: 1;
        display: inline-block;
        padding: 15px ;
        text-transform: uppercase;
        color: #000000;
        border: 1px solid #000000;
        &:hover {
            color: #fff;
            border: 1px solid $theme-color;
        }
    }   
}

.fa-star-o {
    &.yellow{
        color: $s-theme-color;
        
    }
}

i{
    cursor: pointer;
}