.header-area{
    .header-top-area{
        padding-block:1rem;
        border-bottom: 1px solid #d5d4d4;
        .wrapper{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @media  only screen and (min-width : $xs-min-breakpoint)  and ( max-width : $sm-max-breakpoint) {
                justify-content: center;
                flex-wrap: wrap;
                row-gap: 10px;
            }
            .language-currency-wrap{
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                row-gap: 10px;
                .same-language-currency:not(:nth-child(3)){
                    position: relative;
                    margin-right: 3rem;
                    display: inline-flex;
                    gap: 1rem;
                    align-items: center;
                    &::before{
                        content: '';
                        position: absolute;
                        height: 15px;
                        width: 1px;
                        background-color: #d5d4d4;
                        top: 35%;
                        right: -25px;
                    }
                }
            }
            .header-offer{
                letter-spacing: 0.1rem;
                text-align: center;
                span{
                    color: #ff1c1c;
                    font-weight: 200;
                }
            }
        }
    }

    .sticky-bar{
        .row{
                align-items: center;
                .same-style
                {
                    margin-right: 18px;
                    button
                    {
                        background: none;
                        border:none;
                    }
                    a{
                        position: relative;
                    }
                    .count-style
                    {
                    position: absolute;
                    background: black;
                    border-radius: 100%;
                    color: white;
                    width: 21px;
                    text-align: center;
                    top: -20px;
                    right: -13px;
                    }
                    i{
                        font-size: 24px;
                        color: #000;
                    }
                }

                .col-8{
                    .wrapper{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        position: relative;
                        .search-content{
                            position: absolute;
                            padding: 20px 25px;
                            background: white;
                            box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
                            top: 50px;
                            right: 0;
                            width: 500px;
                            transition: all 0.5s ease 0s;
                            transform: rotateX(90deg);
                            transform-origin: top;
                            z-index: 2;
                            &.active{
                                transform: rotateX(0deg);
                            }
                            form{
                                display: flex;
                                flex-direction: row;
                                position: relative;
                                input{
                                    background: transparent;
                                    border: 1px solid #d3d3d3;
                                    padding: 0 90px 0 20px;
                                }
                                .search-button{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background: $theme-color;
                                    width: 70px;
                                    height: 100%;
                                    i{
                                        color: $bg-white;
                                    }
                                    &:hover{
                                        background: $bg-black;
                                        color: $bg-white;
                                    }
                                }
                            }
                        }
                    }
                }

                .main-menu{
                    position: relative;
                    .main-menu-list{
                        display: flex;
                        gap: 20px;
                        justify-content: flex-end;
                        .menu-item{
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            // position: relative;
                            &:hover{
                                font-weight: 800;
                            }
                            &:hover .sub-menu-content{
                                transform: rotateX(0deg);
                                transition: all 0.5s ease;
                            }
                            a{
                                font-size: 16px;
                                font-weight: 100;   
                                i{
                                    margin-left: 10px;
                                }
                            }
                            .sub-menu-content{
                                display: grid;
                                transform: rotateX(90deg);
                                transform-origin: top;
                                transition: all 0.5s ease;
                                position: absolute;
                                padding: 20px 20px 10px 20px;
                                box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
                                z-index: 2;
                                top: 40px;
                                right: 0;
                                background: $bg-white;
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                

                                    .sub-menu-list{
                                        display: flex;
                                        flex-direction: row;
                                        gap: 20px;
                                        width: max-content;
                                        align-items: flex-start;
                                        .sub-menu-item{
                                            position: relative;
                                            padding-left: inherit;
                                            width: auto;
                                            padding: 12px;
                                            &:hover .icon{
                                                display: block !important;
                                                transform: display;
                                                transition: all 0.4s ease;
                                            }
                                            a{
                                                display: flex;
                                                gap: 10px;
                                                align-items: center;
                                            }
                                            .sub-sub{
                                                display: block;
                                                padding-left: 10px;
                                                ul{
                                                    gap: 5px !important;
                                                }
                                            }
                                            .sub-content{
                                                margin-top: 20px;
                                                ul
                                                {
                                                    display: flex;
                                                    flex-direction: column;
                                                    gap: 20px;
                                                    li{
                                                        transition: all 0.8s ease;
                                                        transform: translateX(0);
                                                        &:hover{
                                                            transition: all 0.8s ease;
                                                            transform: translateX(20px);
                                                        }
                                                        
                                                        &:hover a{
                                                            font-weight: 900; 
                                                            color: $theme-color;
                                                        }

                                                        a{
                                                        font-size: 13px;
                                                        text-transform: capitalize;
                                                        font-weight: 100; 
                                                        transform: translateX(0);
                                                        transition: all 0.5s ease;
                                                    }
                                                    }
                                                }
                                            }
                                            a{
                                                font-size: 15px;
                                                text-transform: capitalize;
                                                font-weight: 600;
                                            }
                                        }
                                    }
                                
                            }
                        }
                    }
          
                    // .sub-menu-item{
                    //     transition: all 0.5s ease;
                    //     transform: translateX(0);
                    //     &:hover{
                    //         transition: all 0.5s ease;
                    //         transform: translateX(20px);
                    //     }
                        
                    //     &:hover a{
                    //         font-weight: 900; 
                    //         color: $theme-color;
                    //     }

                    //     a{
                    //     font-size: 13px;
                    //     text-transform: capitalize;
                    //     font-weight: 100; 
                    //     transform: translateX(0);
                    //     transition: all 0.5s ease;
                    // }
                    // }
                    

                }

                .header-account{
                    position: relative;
                    .account-content{
                    position: absolute;
                    background-color: $bg-white;
                    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
                    padding: 15px;
                    top: 50px;
                    left: -93px;
                    width: 120px;
                    transform: rotateX(90deg);
                    transition: all 0.5s ease;
                    transform-origin: top;
                    z-index: 2;
                    &.active{
                        transform: rotateX(0);
                    }
                    ul{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }

            .header-cart{
                position: relative;
                &.active{

                }
                .cart-content{
                    position: absolute;
                    background: #ffffff;
                    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
                    color: #000000;
                    padding: 15px;
                    top: 50px;
                    right: 0;
                    width: 350px;
                    transform: rotateX(90deg);
                    transition: all 0.5s ease 0s;
                    transform-origin: top;
                    z-index: 2;
                    &.active{
                        transform: rotateX(0deg);
                    }
                    .cart-list{
                        overflow: auto;
                        max-height: 300px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-right: 10px;
                        .cart-item{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            border-bottom: 1px solid #ddd8d8;
                            padding: 15px 0;
                            img{
                                width: 100px;
                            }
                            .cart-item-desc li{
                                text-transform: capitalize;
                            }
                            .cart-delete-btn button{
                                background: $theme-color;
                                i{
                                    font-size: 15px;
                                    color: $bg-white;
                                }
                            }
                        }
                    }
                    .cart-total{
                        margin-block: 15px;
                        ul{
                            display: flex;
                            justify-content: space-between;
                            li{
                                text-transform: capitalize;
                            }
                        }
                    }
                    .cart-buttons{
                        margin-block: 15px;
                            a{
                                border-radius: 0;
                                text-transform: uppercase;
                                font-size: 12px;
                            }
                        
                    }
                }
            }
        }

    }
}

