

.product-quickview-modal-wrapper{
    z-index: 99999;
    .modal-dialog{
        max-width: 900px;
        .modal-content{ 
        }
    }
}

.product-large-image-wrapper{               
}
.product-details-content{
    padding-block: 20px;
    display: grid;
    grid-auto-rows: auto auto;
    gap: 10px;
    
    .title{
        font-weight: 100;
        font-size: 18px;
    }
    
    .discount{
        font-weight: 100;
        font-size: 20px;
        color: $s-theme-color;
    }
    .price{
        padding-left: 20px;
        font-size: 16px;
        color: $bg-black;
        font-weight: 100;
    }
}

.pro-details-rating-wrap{
    .pro-details-rating{
        display: flex;
        .fa-star-o{
            margin-right: 5px;
            font-size: 20px;
        }
    }
}

.pro-details-list{
    border-bottom: 1px solid $white-101;
    padding-block: 20px;
    margin-bottom: 20px;
}


.pro-details-size-color 
{
    display: flex;
    @media  only screen and (min-width : $xs-min-breakpoint)  {
        display: block;
    }
    @media  only screen and (min-width : $sm-min-breakpoint)  {
        display: flex;
    }
    .pro-details-color-wrap {
        margin-right: 20px;
        @media  only screen and (min-width : $xs-min-breakpoint)  {
            margin-bottom: 20px;
        }
        @media  only screen and (min-width : $sm-min-breakpoint)  {
            margin-bottom: 0;
        }
        span {
            font-size: 15px;
            font-weight: 500;
            
            display: block;
            
            margin: 0 0 15px;
        }
        .pro-details-color-content {
            ul {
                li {
                    position: relative;
                    
                    display: block;
                    float: left;
                    
                    width: 14px;
                    height: 14px;
                    margin-right: 15px;
                    
                    cursor: pointer;
                    transition: all 0.4s ease 0s;
                    
                    border-radius: 50px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.blue {
                        border: 1px solid #4798f3;
                        background-color: #4798f3;
                    }
                    &.maroon {
                        border: 1px solid #736751;
                        background-color: #736751;
                    }
                    &.gray {
                        border: 1px solid #c0c0c0;
                        background-color: #c0c0c0;
                    }
                    &.green {
                        border: 1px solid #139c57;
                        background-color: #139c57;
                    }
                    &.yellow {
                        border: 1px solid #e28b37;
                        background-color: #e28b37;
                    }
                }
            }
            &--single {
                position: relative;
                
                display: inline-block;
                
                width: 14px;
                height: 14px;
                margin-right: 15px;
                
                cursor: pointer;
                transition: all 0.4s ease 0s;
                
                border-radius: 50px;
                &:last-child {
                    margin-right: 0;
                }
                input {
                    position: absolute;
                    
                    height: 100%;
                    
                    cursor: pointer;
                    
                    opacity: 0;
                    
                    &:checked {
                        & ~ .checkmark {
                            &:after {
                                visibility: visible;
                                
                                opacity: 1;
                            }
                        }
                    }
                }
                &.blue {
                    border: 1px solid #4798f3;
                    background-color: #4798f3;
                }
                &.maroon {
                    border: 1px solid #736751;
                    background-color: #736751;
                }
                &.gray {
                    border: 1px solid #c0c0c0;
                    background-color: #c0c0c0;
                }
                &.green {
                    border: 1px solid #139c57;
                    background-color: #139c57;
                }
                &.yellow {
                    border: 1px solid #e28b37;
                    background-color: #e28b37;
                }
                &.white {
                    border: 1px solid #333;
                    background-color: #fff;
                }
                &.black {
                    border: 1px solid #333;
                    background-color: #333;
                }
                &.brown {
                    border: 1px solid brown;
                    background-color: brown;
                }
                .checkmark {
                    position: relative;
                    
                    display: inline-block;
                    
                    width: 14px;
                    height: 14px;
                    margin: 0;
                    &:after {
                        position: absolute;
                        top: -7px;
                        left: -4px;
                        
                        visibility: hidden;
                        
                        width: 20px;
                        height: 20px;
                        
                        content: "";
                        transition: 0.3s;
                        
                        opacity: 0;
                        border: 2px solid #333;
                        border-radius: 50%;
                    }
                }
                
                &:hover {
                    input {
                        & ~ .checkmark {
                            &:after {
                                visibility: visible;
                                
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .pro-details-size {
        span {
            font-size: 15px;
            font-weight: 500;
            
            display: block;
            
            margin: 0 0 10px;
        }
        .pro-details-size-content {
            ul {
                li {
                    display: inline-block;
                    
                    margin: 0 2px 0 0;
                    
                    list-style: outside none none;
                    a {
                        font-size: 12px;
                        line-height: 1;
                        
                        display: inline-block;
                        
                        padding: 6px 9px 7px;
                        
                        text-transform: uppercase;
                        
                        color: #000;
                        background-color: #f1f2f6;
                        &:hover {
                            color: #fff;
                            background-color: $theme-color;
                        }
                    }
                }
            }
            &--single {
                font-size: 12px;
                line-height: 1;
                
                position: relative;
                
                display: inline-block;
                
                margin: 0 5px 0 0;
                
                text-transform: uppercase;
                
                color: #000;
                background-color: #f1f2f6;
                &:hover {
                    color: #fff;
                    background-color: $theme-color;
                }
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    
                    height: 100%;
                    
                    cursor: pointer;
                    
                    opacity: 0;
                    
                    &:checked {
                        & ~ .size-name {
                            color: $white;
                            background-color: $theme-color;
                        }
                    }
                }
                .size-name {
                    font-size: 12px;
                    font-weight: 400;
                    
                    width: 100%;
                    margin-bottom: 0;
                    padding: 8px;
                }
            }
        }
    }
}

.pro-details-quality{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin-block: 20px;
    .cart-plus-minus{
        border: 1px solid $bg-gray-4;
        padding: 5px;
        height: 60px;
        display: inline-flex;
        justify-content: center;
        width: 100px;
        .qtybutton{
            color: #8f8f8f;
        }
        
        .cart-plus-minus-box{
            font-size: 14px;
            width: 40px;
            // height: 80px;
            margin: 0;
            padding: 0;
            
            text-align: center;
            
            color: #8f8f8f;
            border: medium none;
            background: transparent none repeat scroll 0 0;
            
        }
        
        
    }
    
    .pro-details-cart{
        button{
            color: $black;
            text-transform: uppercase;
            font-weight: 100;
            height: 60px;
            font-size: 16px !important;
            padding-inline: 20px;
            
            &:hover{
                background: $white-101;
            }
        }
    }
    
    .pro-details-actions{
        display: inline-flex;
        gap: 20px;
        font-size: 22px;
        width: fit-content;
        
        button{
            i:hover{
                font-weight: 700;
                color: $theme-color;
            }
        }
    }
    
}

.product-small-image-wrapper {
    .single-image{
        cursor: pointer;
    }
}