// Font Family
$poppins: "Poppins", sans-serif;
$abrilfatface: "Abril Fatface", cursive;
$cormorantgaramond: "Cormorant Garamond";
$greatvibes: "Great Vibes", cursive;
$lobster: "Lobster", cursive;
$josefin: "Josefin Sans", sans-serif;

// text Colors ---------------

$white: #ffffff;
$black: #000000;
$grey: #f6f7f8;
$red: #f6f7f8;
$green: #f6f7f8;

// bg Colors ---------------

$bg-white: #ffffff;
$bg-black: #000000;
$bg-grey: #f6f6f8;
$bg-purple: #f0e0ff;
$bg-red: #c61a32;
$shadow :  0 1px 1px 1px rgba(0, 0, 0, 0.1);
$shadow-2 : rgba(0, 0, 0, 0.35) 0px 5px 15px;

// Heading Color
$heading-color: #000000;

// Theme Color
$theme-color: #1849a1;
$s-theme-color: #c61a32;

// Responsive Variables
$xx-layout: "only screen and (min-width: 1366px) and (max-width: 1600px)";
$xl-layout: "only screen and (min-width: 1200px) and (max-width: 1365px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm-layout: "only screen and (min-width: 576px) and (max-width: 767px)";
$xs-layout: "only screen and (min-width: 320px) and (max-width: 479px)";


$xs-min-breakpoint : "320px";
$sm-min-breakpoint : "575px";
$md-min-breakpoint : "768px";
$lg-min-breakpoint : "992px";
$xl-min-breakpoint : "1200px";


$xs-max-breakpoint : "574px";
$sm-max-breakpoint : "767px";
$md-max-breakpoint : "991px";
$lg-max-breakpoint : "1199px";
$xl-max-breakpoint : "1365px";
