
// TAB PRODUCT
.product-area{
    padding-block: 50px;
    
    .product-top-bar{
        display:flex;
        position: relative;
        @media  only screen and (min-width : $xs-min-breakpoint)  and ( max-width : $sm-max-breakpoint) {
            flex-wrap: wrap;
            justify-content: center;
        }
  
        @media  only screen and (min-width : $lg-min-breakpoint)  and ( max-width : $lg-max-breakpoint) {
            justify-content: space-between;        
        }
        
        @media  only screen and (min-width : $xl-min-breakpoint)   {
            justify-content: space-between;        
        }
  
        .section-title{
            text-transform: capitalize;
            .title{
                font-weight: 100;
                text-transform: capitalize;
                text-align: center;
            }
            h4{
                font-size: 12px;
            }
            
        }
  
        .product-list-nav{
                display: grid;
                grid-template-columns: auto auto;
                
                .nav-link{
                    text-transform: capitalize;
                    font-size: 8px;
                    color: gray;
                    font-weight: 100;
                    letter-spacing: 2px;
                    text-align: center;
                    &.active h6{
                        font-weight: 800;
                        color: black;
                    }
                }
        }
    }
  
    .product-list-grid{
        cursor: grab;
        padding: 10px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        overflow: auto;
        scroll-snap-type: x mandatory;
        
        &::-webkit-scrollbar {
            @media  only screen and (min-width : $xs-min-breakpoint) and (max-width : $md-max-breakpoint) {
                display: none !important;
            }
            @media  only screen and (min-width : $lg-min-breakpoint)  {
            }
        }
  
        .wrapper{
            scroll-snap-align: center;
            .product-img{
                box-shadow: $shadow-2;
                position: relative;
                .product-discount{
                    position: absolute;
                    right: 20px;
                    top: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }
                .product-action{
                    visibility: hidden !important;
                    transform: translateX(100%);
                    position: absolute;
                    top: 43%;
                    left: 38%;
                    display: flex;
                    gap: 10px;

                    
                    @media  only screen and (min-width : $sm-min-breakpoint)  {
                        left: 28%;
                    }
            
                    .btn{
                        background: $theme-color;
                        color: $white !important;
                        border: none;
                        & > i {
                            color: $white !important;
                        }
                    }
                    .btn:hover{
                        background: $s-theme-color;
                        border: none;
                    }
                }
  
                &:hover .product-action{
                    visibility: visible !important;
                    transform: translateX(0);
                    transition: all 0.5s ease;
                }
            }
            .product-content{
                padding-block: 10px;
                .pe-7s-like{
                    font-size: 24px;
                    color: $black;
                    font-weight: 900;
                    &.active{
                        color: $theme-color;
                    }
                }
                .title{
                    font-size: 18px;
                    font-weight:500;
                    text-transform: capitalize;
                }
                .price{
                    font-size: 12px;
                    font-weight: 100;
                }
            }
        }
    }
  }